/*google fonts*/
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');


body {
  font-family: 'Montserrat', 'Nanum Gothic', 'Raleway', Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 720px;
  min-width: 500px;
  font-size: 18px;
  background-color: #FAFAFA;
}

/** header style */
header {
  font-size: 18px;
  padding-bottom: 5px;
  margin-bottom: 0px;
  margin-top: 40px;
  background-color: #FAFAFA
}

header h1 span {
  font-size: 1em
}

header h1 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #191D4B; /*change color of title*/
}

header ul {
  font-size: 14px;
  margin-top: -2em;
  padding-right: 0em;
  text-align: right;
}

header ul li  {
  margin-top: 0em;
  display: inline;
  padding-left: 36px;
}

header li:last-child:after  {
  content: "";
}

header li:after  {
  content: "";
}

div h1 {
  font-size: 1em;
}

div h2 {
  font-size: 1em;
}

div h3 {
  font-size: 1em;
}

/**left side-bar*/

div#left {
  width: 100%;
  float: left;
  font-size: 1em;
  margin-top: 140px;
  padding-bottom: 1em;
}

div#left h1 {

  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  text-align: left;
  padding-bottom: 1px;
  margin-bottom: 2px;
  margin-top: 24px;
  color: #191D4B; /*blue colour in heading*/
}

div#left h2 {
  font-size: 0.8em;
  margin-top: 4px;
  margin-bottom: 8px;
  width: 50%;
  border-bottom-width: 3px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #191D4B;
  display: inline;
}

div#left h2:after  {
  content: " | ";
}

div#left h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #191D4B;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

div#left h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #191D4B;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 8px;
  display: inline;
}

div#left h5  {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #191D4B;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 8px;
  display: inline;
}

div#left h6  {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #191D4B;
}

div#left ul {
  font-size: 0.8em;
  display: inline;
  margin-top: 0em;
  padding-left: 0em;
}

div#left ul li  {
  margin-top: 0em;
  display: inline;
  color: #191D4B;
}

div#left li:last-child:after  {
  content: ""
}

/** line break style */
.brlarge {
  padding-top: 140px;
}

.brmed {
  padding-top: 10px;
}

/**div columns*/
.row {
    width: 720px;
}

.column {
  float: left;
  column-gap: 40px;
}

.box {
  background-color: #ffffff;
  width: 310px;
  height: 280px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: -1px 1px 6px rgba(100, 98, 98, 0.25);
  border-radius: 8px;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  text-align: center;
}

/* =Footer
-------------------------------------------------------------- */
.footer {
    width: 100%;
    float: left;
    background: #fAfAfA;
    min-height: 140px;
    margin-top: 100px;
}
.footer-inner {
    height: 300px;
    display: table;
    width: 100%;
}
.footer-content {
    display: table-cell;
    vertical-align: middle;
}
.footer-content p {
    color: #787878;
}
.footer h4 {
    font-weight: 200;
    font-size: 14px;
    color: #191D4B;
    text-align: center;
}
.footer-content address {
    color: #787878;
    font-size: 14px;
    letter-spacing: 1.5pt;
}
ul.social-media {
    padding: 0;
    text-align: center;
}
ul.social-media li {
    list-style-type: none;
    display: inline;
    padding: 8px;
}
ul.social-media li a img {
    color: #111111;
}
ul.social-media li a img:hover {
    color: ##cfe1e2;
}
.copyright-mark {
    margin-top: 50px;
    display: block;
    text-align: center;
    color: #787878;
    letter-spacing: 1.5pt;
}

/** link style */
a {
  color: #191D4B;
  text-decoration: none;
  font-size: 16px;
  padding-bottom: 5px;
  margin-bottom: 0px;
  margin-top: 60px;
  background-color: #FAFAFA;
}

a:hover {
  color: #81B0B4;
  background-color: #FAFAFA;
}

@media print {
   body {
     width: 850px;
     font-size: 16x;
     margin: auto;
   }

  header {
    margin-top: .5em;
    font-size: 2em;
  }

  div#left ul {
    font-size: 12px;
  }

}
